<!DOCTYPE html>
<html>
    <head>
        <title>Pilihmentor</title>
        <link rel="stylesheet" href="static/styles/chatbotstyles.css">    </head>
    <body>
    <div class="header">
        <table class="headergrid" cellspacing=0 cellpadding=0>
            <tr><td class="avatarimg"><img class="avatar" src="static/avatar.png"></td>
            <td><p class="botname"><a class="botlink" href="http://127.0.0.1:5000/Chat"><b>Pilihmentor Bot</b></a></p></td></tr>
        </table>
    </div>
    <div class="chatscroll">
        <table class="chat">
            <tr><td><p class="datebubble">Today</p></td></tr>
            <tr><td><p class="botbubble">Halo! Bisa ceritakan masalahmu?</p><p class="bottime">13:51</p></td></tr>
            <tr><td><p class="userbubble">hai</p><p class="usertime">13:51</p></td></tr>
            <tr><td><p class="botbubble">Halo! Bisa ceritakan masalahmu?</p><p class="bottime">13:51</p></td></tr>
            <tr><td><p class="userbubble">Halo</p><p class="usertime">13:52</p></td></tr>
            <tr><td><p class="botbubble">Halo! Bisa ceritakan masalahmu?</p><p class="bottime">13:52</p></td></tr>
            <tr><td><p class="userbubble">Brr</p><p class="usertime">13:52</p></td></tr>
            <tr><td><p class="botbubble">Maaf, bot tidak mengenal pesan itu. Bisa ceritakan masalahmu?</p><p class="bottime">13:52</p></td></tr>
        </table>
    </div>
    <form action="http://127.0.0.1:5000/Chat" method=POST>
        <div class="messageBox">
            <input type="text" name="messageInput" id="message" placeholder="Type your message..." autocomplete="off">
            <input type="submit" id="send" name="sendButton" value="send">
        </div>
        </form>
    </body>
</html>